data_factory/pipeline/master_partyBanco_maestro.json
{
	"name": "master_partyBanco_maestro",
	"properties": {
		"activities": [
			{
				"name": "SetProcessDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "process_date",
					"value": {
						"value": "@concat(pipeline().parameters.year_date,'-',\npipeline().parameters.month_date,'-01')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ValidPartyFullLoad",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SetProcessDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_general_parquet",
						"type": "DatasetReference",
						"parameters": {
							"zona": "master",
							"application": "banco",
							"filename": "m_party"
						}
					},
					"fieldList": [
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach_Flujo_Maestros",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ValidPartyFullLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('MaestrosArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "sw_maestros",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item()",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Agencias",
										"activities": [
											{
												"name": "df_maestro_agencia",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "flw_m_party_bancoMaestroAgencia_full",
														"type": "DataFlowReference",
														"parameters": {
															"load_date": {
																"value": "'@{utcNow()}'",
																"type": "Expression"
															},
															"record_source": {
																"value": "'@{string('banco')}'",
																"type": "Expression"
															},
															"creation_user": {
																"value": "'@{string('grupo2')}'",
																"type": "Expression"
															},
															"process_date": {
																"value": "'@{variables('process_date')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"sourceBancoMaestroAgencia": {
																"application": {
																	"value": "@variables('applicationInput')",
																	"type": "Expression"
																},
																"filename": "maestro/agencias"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "FlujoVentas",
										"activities": [
											{
												"name": "df_maestro_flujoVenta",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "flw_m_party_bancoMaestroFlujoVenta_full",
														"type": "DataFlowReference",
														"parameters": {
															"load_date": {
																"value": "'@{utcNow()}'",
																"type": "Expression"
															},
															"record_source": {
																"value": "'@{string('banco')}'",
																"type": "Expression"
															},
															"creation_user": {
																"value": "'@{string('grupo2')}'",
																"type": "Expression"
															},
															"process_date": {
																"value": "'@{variables('process_date')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"sourceBancoMaestroFlujoVenta": {
																"application": {
																	"value": "@variables('applicationInput')",
																	"type": "Expression"
																},
																"filename": "maestro/flujoVenta"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "Perfil",
										"activities": [
											{
												"name": "df_maestro_perfil",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "flw_m_party_bancoMaestroPerfil_full",
														"type": "DataFlowReference",
														"parameters": {
															"load_date": {
																"value": "'@{utcNow()}'",
																"type": "Expression"
															},
															"record_source": {
																"value": "'@{string('banco')}'",
																"type": "Expression"
															},
															"creation_user": {
																"value": "'@{string('grupo2')}'",
																"type": "Expression"
															},
															"process_date": {
																"value": "'@{variables('process_date')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"sourceBancoMaestroPerfil": {
																"application": "@variables('applicationInput')",
																"filename": "maestro/perfil"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "Productos",
										"activities": [
											{
												"name": "df_maestro_producto",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "flw_m_party_bancoMaestroProductos_full",
														"type": "DataFlowReference",
														"parameters": {
															"load_date": {
																"value": "'@{utcNow()}'",
																"type": "Expression"
															},
															"record_source": {
																"value": "'@{string('banco')}'",
																"type": "Expression"
															},
															"creation_user": {
																"value": "'@{string('grupo2')}'",
																"type": "Expression"
															},
															"process_date": {
																"value": "'@{variables('process_date')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"sourceBancoMaestroProductos": {
																"application": "@variables('applicationInput')",
																"filename": "maestro/productos"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									},
									{
										"value": "RangoIngreso",
										"activities": [
											{
												"name": "df_maestro_rangoIngreso",
												"type": "ExecuteDataFlow",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataflow": {
														"referenceName": "flw_m_party_bancoMaestroRangoIngreso_full",
														"type": "DataFlowReference",
														"parameters": {
															"load_date": {
																"value": "'@{utcNow()}'",
																"type": "Expression"
															},
															"record_source": {
																"value": "'@{string('banco')}'",
																"type": "Expression"
															},
															"creation_user": {
																"value": "'@{string('grupo2')}'",
																"type": "Expression"
															},
															"process_date": {
																"value": "'@{variables('process_date')}'",
																"type": "Expression"
															}
														},
														"datasetParameters": {
															"sourceBancoMaestroRangoIngreso": {
																"application": "@variables('applicationInput')",
																"filename": "maestro/rangoIngreso"
															}
														}
													},
													"compute": {
														"coreCount": 8,
														"computeType": "General"
													},
													"traceLevel": "Fine"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"year_date": {
				"type": "string"
			},
			"month_date": {
				"type": "string"
			},
			"Action": {
				"type": "string",
				"defaultValue": "@item()"
			}
		},
		"variables": {
			"process_date": {
				"type": "String"
			},
			"MaestrosArray": {
				"type": "Array",
				"defaultValue": [
					"Agencias",
					"FlujoVentas",
					"Perfil",
					"Productos",
					"RangoIngreso"
				]
			},
			"applicationInput": {
				"type": "String",
				"defaultValue": "banco"
			}
		},
		"folder": {
			"name": "02_master_models"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-06T19:43:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}