data_factory/pipeline/raw_banco_core.json
{
	"name": "raw_banco_core",
	"properties": {
		"activities": [
			{
				"name": "source_to_raw_dataInicial",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "codbin",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "codbin",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fecha_desembolso",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fecha_desembolso",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fecha_activacion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fecha_activacion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "NumMesesAct",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumMesesAct",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fecha_cancelacion",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fecha_cancelacion",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "NumMesesCanc",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "NumMesesCanc",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "linea_credito",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "linea_credito",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "flg_excepcion_consolidado",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "flg_excepcion_consolidado",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "id_agencia",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id_agencia",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TasaPOS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TasaPOS",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IdFlujoVenta",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IdFlujoVenta",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IdCanalVenta",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IdCanalVenta",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "idPerfilTC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "idPerfilTC",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IdRangoIngreso",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IdRangoIngreso",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "edad",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "edad",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_source_banco_csv",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "DataCruda\\DataTC"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "data\\dataInicial"
						}
					}
				]
			},
			{
				"name": "carga_maestro_agencia",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "source_to_raw_dataInicial",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID_AGENCIA",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "ID_AGENCIA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AGENCIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AGENCIA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DEPARTAMENTO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DEPARTAMENTO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PROVINCIA",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PROVINCIA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DISTRITO",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DISTRITO",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_gen",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "Maestros\\Agencias\\agencias"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "maestro\\agencias"
						}
					}
				]
			},
			{
				"name": "carga_maestros_fujoVenta",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "carga_maestro_agencia",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "idFlujoVenta",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "idFlujoVenta",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FlujoVenta",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FlujoVenta",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FlujoVentaDetalle",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FlujoVentaDetalle",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_gen",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "Maestros\\FlujoVenta\\flujoVenta"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "maestro\\flujoVenta"
						}
					}
				]
			},
			{
				"name": "carga_maestros_perfil",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "carga_maestros_fujoVenta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "idPerfilTC",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "idPerfilTC",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PerfilTC",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PerfilTC",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_gen",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "Maestros\\Perfil\\Perfil"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "maestro\\perfil"
						}
					}
				]
			},
			{
				"name": "carga_maestros_productos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "carga_maestros_perfil",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "codbin",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "codbin",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BIN",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BIN",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "orden",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "orden",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_gen",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "Maestros\\Productos\\Productos"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "maestro\\productos"
						}
					}
				]
			},
			{
				"name": "carga_maestros_rangoIngreso",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "carga_maestros_productos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "idRangoIngreso",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "idRangoIngreso",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Rango",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Rango",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_master_gen",
						"type": "DatasetReference",
						"parameters": {
							"application": "Banco",
							"filename": "Maestros\\RangoIngreso\\RangoIngreso"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_parquetBanco",
						"type": "DatasetReference",
						"parameters": {
							"application": "banco",
							"filename": "maestro\\rangoInreso"
						}
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "['','','']",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "FileServerReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_master_gen",
									"type": "DatasetReference",
									"parameters": {
										"application": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "String"
			},
			"w": {
				"type": "String"
			},
			"z": {
				"type": "String"
			},
			"r": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_raw_source/banco"
		},
		"annotations": []
	}
}